{{#extends "base"}}

{{#block "content"}}
<h1>Contact Us Form</h1>
<form method="POST">
    <div>
        <label>Name:</label>
        <input type="text" class="form-control"/>
    </div>
</form>
{{/block}}

{{/extends}}